<!DOCTYPE html>
<html>
  <head>
    <title>Login</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>


    <div class="container">
      <div class="card" style="width: 50%; margin:auto; margin-top: 25%;">
        <div class="card-body">
          <h3 align="center" class="font-weight-bold text-primary">Stream Manager</h3>
          <form method="POST" action="/login">
            <label class="font-weight-bold text-secondary">Account</label>
            <input class="form-control" type="text" name="account"/>
            <br>
            <label class="font-weight-bold text-secondary">Password</label>
            <input class="form-control" type="password" name="password"/>
            <hr>
            <input style="margin:auto; display:block;" class="btn btn-outline-primary btn-lg btn-block" type="submit" value="submit"/>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
